.homepage-container {
    text-align: center;
    margin-top: 7rem;
    padding-top: 15rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  rgb(125, 115, 112);
    font-size:150%
}