.notFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .notFoundPage img {
    margin-top: 300px;
    width: 500px;
  }

  .goToHomePageButton {
    padding: 20px 30px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }