.signup-container {
  max-width: 450px;
  margin: 5rem auto;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

p {
  color: rgb(125, 115, 112);
  font-size: 115%;
}

.signup-form .form-group {
  margin-bottom: 1.5rem;
}

.signup-form label {
  color: rgb(125, 115, 112);
  font-size: 145%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.signUp-button {
  background-color: rgb(125, 115, 112);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.signUp-button:hover {
  text-decoration: underline;
}

.signup-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
