.navbar {
  background-color: rgb(254, 247, 242);
  display: flex;
  border-bottom: 1.5px solid rgb(125, 115, 112);
  width: 100%;
}
.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 250px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  margin-left: 119%;
  font-size: 100%;
  align-items: right;
}

.navbar-link {
  color: rgb(125, 115, 112);
  text-decoration: none;
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 150%;
}

.navbar-link:hover {
  text-decoration: underline;
}

.button-container {
  padding-left: 120%;
}

.logout-button {
  background-color: rgb(125, 115, 112);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
}


